@using Shopping.Shared.DTOs
@model Shopping.Shared.DTOs.AllOrdersDTO


@{
    ViewBag.Title = "Index";
}

<style>
    .box {
        background-color: seashell;
        margin: 5px;
    }
</style>
<h2>Index</h2>

<div>
    <h4>OrderDTO</h4>
    <hr />
    @foreach (var order in Model.Orders)
    {
        <p></p>
        
            <div class="box">
                <dl class="dl-horizontal">

                    <dt>
                        Order Status:
                    </dt>
                    <dd>
                        @order.OrderStatus;
                    </dd>
                    <dt>
                        Amount:
                    </dt>

                    <dd>
                        @order.TotalAmount;
                    </dd>
                    <dd>
                        @*<td>@Html.ActionLink("Order", "Order", new { order = new OrderDTO() { TotalAmount = order.TotalAmount} }, new { @id = "submit" })</td>*@
                        <a href=@Url.Action("Order", "Order", new { order = order.Id },null)>
                            <Button>Details</Button>

                        </a>
                    </dd>

                </dl>
            </div>
            

        }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
