@using Shopping.Shared.DTOs
@model Shopping.Shared.DTOs.AllOrdersDTO


@{
    ViewBag.Title = "Index";
}

<style>
    .box {
        background-color: seashell;
        margin: 5px;
    }
</style>
<h2>Index</h2>

<div>
    <h4>OrderDTO</h4>
    <hr />
    @foreach (var order in Model.Orders)
    {


        <div class="container">
            <div class="box">
                <div class="row">

                    <div class="col-md-10">
                        <dt>
                            Order Status:
                        </dt>
                        <dd>
                            @order.OrderStatus
                        </dd>
                        <dt>
                            Amount:
                        </dt>
                        <dd>
                            @order.TotalAmount
                        </dd>
                    </div>
                    <div class="col-md-2"> 
                        <dd>
                            <a href=@Url.Action("Order", "Order", new { order = order.Id }, null) >
                                <Button class="btn btn-warning ">Details</Button>
                            </a>
                        </dd>
                    </div>


                </div>
            </div>
        </div>
       
    }
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
